div {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input,
select,
button {
    padding: 8px;
    width: 200px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}