body {
  background-color: purple;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header,
h1 {
  display: inline-block;
}
h1 {
  display: flex;
  flex-direction: column;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
  list-style: none;
}

li {
  border-radius: 5px;
  background-color: blueviolet;
  height: calc(100vh / 5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: xx-large;
  position: relative;
  overflow: hidden;
}
span {
  text-align: center;
  transition: all 1s;
}

li > span:last-of-type {
  position: absolute;
  transform: translate(100px, 150px);
  font-size: 100px;
}
li:hover span {
  transform: translateY(-150px);
}
li:hover span:last-of-type {
  transform: translate(100px, 0px);
}

@media (min-width: 450px) {
}
