<!-- ejercicio 2 -->
<div>
  <table border="1" cellspacing="0" cellpadding="5">
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Detalles</th>
      <th>Estado</th>
    </tr>

    @for (producto of listaProductos; track producto.nombre) {
    <tr>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.precio }} €</td>
      <td>{{ producto.stock }}</td>
      <!-- ejercicio 3 -->
      <td>
        <button (click)="pulsado()">{{ pulsacion }}</button>
      </td>
      <!-- ejercicio 3 fin -->
      <td>
        @if (producto.stock == 0) { No hay unidades disponibles } @else if (producto.stock <= 10) {
        Stock bajo } @else if (producto.stock <= 20) { Stock medio } @else { Mucho stock }
      </td>
    </tr>
    }
  </table>
</div>
