html {
    background-color: rgb(245, 245, 245);
    max-width: 30rem;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
}

a {
    text-decoration: none;
    color: rgb(42, 130, 245);
}

form>h1 {
    text-align: center;
    padding-top: 2rem;
}

label {
    display: block;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
}

input[name="email"],[name="password"] {
    display: block;
    min-width: 80%;
    min-height: 2rem;
    margin: auto;
    border-radius: 5px;
    border-color: gainsboro;
    border-style: solid;
}

input[name="email"] {
    margin-bottom: 1.5rem;
}

/* se necesita implementacion del js*/
/* input[name="email"]:invalid {
    border-color: red;
}

input[name="password"]:invalid {
    border-color: red;
    outline: none;
} */

#showPassword {
    position: relative;
    top: -1.8rem;
    left: 22rem;
    border-style: none;
    background: none;
    color: rgb(141, 141, 141);
}

#showPassword:hover {
    color: rgb(104, 103, 103);
    cursor: pointer;
}

#Recordarme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5rem;
}

#check{
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

#Recordarme>div {
    align-content: center;
    display: flex;
}

#IniciarSesion {
    display: block;
    min-width: 80%;
    min-height: 2.8rem;
    margin: auto;
    background-color: rgb(65, 123, 248);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#IniciarSesion:hover {
    background-color: rgb(52, 113, 247);
}

.divisor {
    text-align: center;
}

img {
    position: relative;
    height: 25px;
    top: 7px;
}

#inicioSesion>a {
    color: black;
    height: 3rem;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    margin-top: 0.5rem;
    border: solid 2px gainsboro;
    border-radius: 5px;
    text-align: center;
    display: block;
}

#inicioSesion>a:hover {
    border-color: rgb(224, 222, 222);
    background-color: rgb(243, 243, 243);
}

#registro {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.sr-only{
    position:absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -10px;
    overflow: hidden;
}