/* =========================================
   1. RESET Y ESTILOS GLOBALES
   ========================================= */
:root {
    --primary: #4f46e5;
    /* Índigo */
    --secondary: #ec4899;
    /* Rosa */
    --dark: #1e293b;
    /* Gris oscuro */
    --light: #f8fafc;
    /* Gris muy claro */
    --white: #ffffff;
    --gray: #94a3b8;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --radius: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    background-color: #e2e8f0;
    color: var(--dark);
    line-height: 1.6;
    padding: 2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Estilo genérico para botones (para que se vean clicables) */
button,
.btn-buy {
    border: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

button:hover,
.btn-buy:hover {
    background-color: #4338ca;
}

/* Ejercicio 5: Menú Móvil */

body{
    padding: 0;
}
.mobile-toolbar{
    width: 100%;
}
ul{
    display: flex;
    gap: calc(1rem + 5vw);
}
li{
    flex-basis: 0px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
li:first-of-type{
    order:1
}