h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

.identificador{
    display: grid;
    grid-template-columns: 3;
    grid-row: 3;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: bisque;
    border-radius: 30px;
    width: 50%;
    margin: auto;
}
header{
    grid-area: span 1/span 3;
}
aside:first-of-type{
    grid-area: span 2/span 1;
}
aside:last-of-type{
    
}
footer{
    text-align: center;
}
h3{
    font-size: medium;
}
p{
    font-size: xx-large;
    margin-left: 10px;
}