@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    display: block;
}

input[type='submit'], a[class='boton']{
    margin: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0 4px;
    margin-top: 1rem;
    background-color:rgb(14,23,43);
    color: white;
    cursor: pointer;
    transition: all 1s;
}

input[type='submit']:hover{
    scale:110%;
}

a[class='boton']:hover{
    scale:110%;
}